@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #7b65ff;
  --primary-hover: rgba(123, 101, 255, 0.2);
  --primary-dark: #5e49d5;
  --content-width: 1000px;
  --overlay-background: rgba(0, 0, 0, 0.9);
  --background: #0a0a0a;
  --foreground: #ededed;
  --navbar-background: rgba(0, 0, 0, 0.7);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-90: rgba(0, 0, 0, 0.9);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-90: rgba(255, 255, 255, 0.9);
  --gray-0: #000;
  --gray-50: #0d0d0d;
  --gray-100: #1a1a1a;
  --gray-200: #333333;
  --gray-300: #4d4d4d;
  --gray-400: #666666;
  --gray-500: #808080;
  --gray-600: #999999;
  --gray-700: #b3b3b3;
  --gray-800: #cccccc;
  --gray-900: #e6e6e6;
  --gray-1000: #fff;
  --layer-pink-dark: #52004a;
  --layer-pink-80: rgba(255, 120, 181, 0.8);
  --layer-purple-dark: #3f1f8f;
  --layer-purple-80: rgba(123, 101, 255, 0.8);
}

body {
  color: var(--gray-100);
  background: var(--gray-1000);
  font-family: "Manrope", sans-serif;
}

.animated {
  display: inline;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--float-distance, 20px));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes textSlideInUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.textSlideInUp {
  animation: textSlideInUp 0.5s ease-out;
}

@keyframes videoThumbnailSlideInUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
    backdrop-filter: blur(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    backdrop-filter: blur(50px);
  }
}

.videoThumbnailSlideInUp {
  animation: videoThumbnailSlideInUp 0.5s ease-out;
}

@keyframes bannerSlideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#blog-banner {
  animation: bannerSlideIn 0.5s ease-out forwards;
  animation-delay: 1s;
}

.section-header {
  font-size: 0.8rem;
  font-weight: 800;
  width: fit-content;
  color: var(--gray-500);
}
