@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7b65ff;
  --primary-hover: rgba(123, 101, 255, 0.2);
  --primary-dark: #5e49d5;
  --content-width: 1000px;
  --overlay-background: rgba(0, 0, 0, 0.5);
  --background: #0a0a0a;
  --foreground: #ededed;
  --navbar-background: rgba(10, 10, 10, 0.7);
  --black-30: rgba(0, 0, 0, 0.3);
  --gray-0: #000;
  --gray-50: #0d0d0d;
  --gray-100: #1a1a1a;
  --gray-200: #333333;
  --gray-300: #4d4d4d;
  --gray-400: #666666;
  --gray-500: #808080;
  --gray-600: #999999;
  --gray-700: #b3b3b3;
  --gray-800: #cccccc;
  --gray-900: #e6e6e6;
  --gray-1000: #fff;
  --layer-pink-dark: #52004a;
  --layer-pink-80: rgba(255, 120, 181, 0.8);
  --layer-purple-dark: #3f1f8f;
  --layer-purple-80: rgba(123, 101, 255, 0.8);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Manrope", sans-serif;
}

.animated {
  display: inline;
}
