@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7b65ff;
  --primary-hover: rgba(123, 101, 255, 0.2);
  --primary-dark: #5e49d5;
  --navbar-background: rgba(255, 255, 255, 0.7);
  --content-width: 1000px;
  --overlay-background: rgba(0, 0, 0, 0.5);
  --gray-0: #ffffff;
  --gray-50: #f2f2f2;
  --gray-100: #e6e6e6;
  --gray-200: #cccccc;
  --gray-300: #b3b3b3;
  --gray-400: #999999;
  --gray-500: #808080;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1a1a1a;
  --gray-1000: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --navbar-background: rgba(10, 10, 10, 0.7);
    --gray-0: #000;
    --gray-50: #0d0d0d;
    --gray-100: #1a1a1a;
    --gray-200: #333333;
    --gray-300: #4d4d4d;
    --gray-400: #666666;
    --gray-500: #808080;
    --gray-600: #999999;
    --gray-700: #b3b3b3;
    --gray-800: #cccccc;
    --gray-900: #e6e6e6;
    --gray-1000: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Manrope", sans-serif;
}
